body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border: 1px solid black;
  table-layout: fixed;
  float: left;
  margin: 50px;
}

th, td{
  height: 30px;
  width: 30px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  align-content: center;
}

.squareGray {
  height: 30px;
  width: 30px;
  background-color: #555;
}

.squareBlack {
  height: 30px;
  width: 30px;
  background-color: #000;
}

.pointBlack {
  height: 5px;
  width: 5px;
  margin: 0 auto;
  background-color: #000;
}

button {
  height: 40px;
  width: 140px;
  margin: 20px;
}

h3 {
  margin-left: 1em;
  margin-top: 1em;
  display: block;
}
